:focus {
   outline: none;
}
::-moz-focus-inner {
   margin: 0;
   padding: 0;
   border: 0;
}



/* General Classes ------------------------ */

.fleft{
	float: left !important;
}
.fright{
	float: right !important;
}
.left{
	text-align: left !important;
}
.center {
	text-align: center !important;
}
.right{
	text-align: right !important;
}
.top{
	vertical-align: top !important;
}
.middle {
	vertical-align: middle !important;
}
.bottom {
	vertical-align: bottom !important;
}
.divCenter {
	margin: 0 auto;
	position: relative;
}
.divMiddle {
	margin: auto 0;
	position: relative;
}
.bold {
	font-weight: bold !important;
}
.wrap {
	overflow: hidden;
}
.hidden {
	display: none;
/*	font-size: 0;
	height: 0;
	visibility: hidden;*/
}


/* General Layout Elements ---------------- */

h1 {
	font-size: 150%;
	margin: 8px 10px 10px;
	padding: 0;
}
h2 {
	color: #001a4d;
	font-size: 150%;
}
p {
	font-size: 100%;
	margin: 15px;
}
td, th {
	padding: 7px;
}
input,
button,
select {
	cursor: pointer;
}
html, body {
	margin: 0; 
	padding: 0px;
	padding-bottom: 10px;
	min-height: 800px;
/*
	width: 100%; 
	height: 100%;
*/
	background-color: #ebebeb;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
body.playground {
	background-image: url("../img/playground2.png");
	background-size: 10%;
	background-position: left top;
	background-repeat: repeat;
}


/* Header --------------------------------- */

#headerTop {
	display: block;
	height: 70px;
	padding-left: 8px;
	padding-right: 14px;
	padding-top: 8px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) inset;
}
#headerTopLeft {
	float: left;
	display: inline-block;
	width: 35%;
	height: 100%;
	color: white;
	font-size: 70%;
	text-align: left;
	line-height: 110px;
	text-shadow: 5px 5px 10px #000d26;
}
#headerTopCenter {
	color: white;
	display: block;
	text-align: center;
	text-shadow: 5px 5px 10px #000d26;
	width: 28%;
	height: 100%;
	float: left;
}
#headerTopRight {
	float: right;
	display: inline-block;
	min-width: 193px;
	text-align: right;
	vertical-align: bottom;
	width: 35%;
	height: 100%;
}
#headerImage {
	height:42px;
	border:0;
	margin-top: 20px;
	float: right;
}
#headerNavi {
	margin: 0 auto;
	width: 100%;
	display: flex;
}
#headerNaviLeft {
	float: left;
	text-align: left;
}
#headerNaviRight {
	flex: 1;
	float: right;
	text-align: right;
}



/* Input Form Elements (default) ---------- */

button, input, select {
	border: 1 solid darkgrey;
	border-radius: 0;
	background-color: lightgrey;
	color: black;
	/*font-size: 80%;*/
	margin: 2px;
	padding: 2px;
}


/* Input Form Elements Invisible-Like ----- */

input.invisiblelike{
	-moz-appearance: none;
	border: 0 none !important;
	border-radius: 3px;
	margin: 5px;
	padding: 3px 10px;
	text-indent: 0.01px;
	text-overflow: "";
	background-color:#ffffff;
	border: 0px solid #e5e5e5;
	/*text-align: center;*/
	color: #000000;
	box-shadow: 0 0 3px rgba(51, 153, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #cccccc;
	font-size: 100%;
}
input.invisiblelike.half{
	width: 15%;
}
input.invisiblelike.medium{
	width: 45%;
}
input.invisiblelike.bigger{
	width: 56%;
}
input.invisiblelike.full{
	width: 85%;
}
select.invisiblelike {
	-moz-appearance: none;
	border: 0 none !important;
	border-radius: 3px;
	margin: 5px;
	padding: 3px 10px;
	text-indent: 0.01px;
	text-overflow: "";
	width: 300px;
	/*text-align:center;*/
	background: #ffffff none repeat scroll 0 0;
	box-shadow: 0 0 3px rgba(51, 153, 0, 0.3) inset;
	color: #000000;
	font-size: 100%;
	text-shadow: 2px 2px 7px #cccccc;
	width: 90%;
}
select.invisiblelike.ncf {
	background: none repeat scroll 0 0;
	box-shadow: none;
	color: #ffffff;
	font-size: 110%;
	text-align:center;
	text-shadow: 2px 2px 7px #606060;
	width: 90%;
}
/*
input.invisreadonly.batch {
	background: none repeat scroll 0 0;
	box-shadow: none;
	color: #ffffff;
	font-size: 110%;
	text-align:center;
	text-shadow: 2px 2px 7px #606060;
	width: 90%;
	margin: 5px;
	padding: 3px 0px;
	text-indent: 0.01px;
}
*/
label.invisdesc {
	color: #808080;
	font-size: 80%;
	margin: 7px 0px;
	display: inline-block;
}
label.invisdesc .smaller {
	font-size: 75%;
}
label.invisdesc .larger {
	font-size: 130%;
}


/* Input Form Elements Invisreadonly-Like --- */

.invisreadonly{
	-moz-appearance: none;
	border: 0 none !important;
	border-radius: 3px;
	margin: 3px;
	padding: 3px 0px;
	text-indent: 0.01px;
	text-overflow: "";
	background: none repeat scroll 0 0;
	border: 0px solid #e5e5e5;
	font-size: 100%;
	text-align: center;
	width: 90%;
	text-shadow: 2px 2px 7px #cccccc;
	color: #000000;
}
.invisreadonly.number{
	width: 15%;
	color:#808080;
}
.invisreadonly.mtf{
	width: 45%;
	color:#808080;
}



/* Input Form Elements Button-Like -------- */

.buttonlike {
	border: 0 none !important;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
}
select.buttonlike, input.buttonlike {
	-moz-appearance: none;
	font-size: 80%;
	width: 300px;
	margin: 5px;
	padding: 5px 10px;
	text-indent: 0.01px;
	text-overflow: "";
}
button.buttonlike {
	width: 170px;
	/*height: 50px;*/
	font-size: 80%;
	margin: 5px;
	padding: 5px;
}
a.buttonlike {
	margin: 0px 10px;
	padding: 5px 20px;
	font-size: 100%;
	width: 150px;
	height: 20px;
	/*line-height: 1.5em;
	height: 1.5em;*/
}
a.buttonlike:hover {
	text-decoration: none;
}
/*
.commitbuttons {
    margin-top: 9px;
    width: 120px;
}
*/
.buttonlike.nomargin {
	margin: 0;
}
select.buttonlike.half {
	width: 110px;
}
button.buttonlike.half, input.buttonlike.half {
	width: 60px;
	vertical-align: 1.5px;
	margin: 0;    
	font-size: 64%;
}
.buttonlike.medium {
	width: 96px;
	/*height: 20px;*/
	vertical-align: 1.5px;
	margin: 0;    
	font-size: 64%;
}
.buttonlike.bigger {
	width: 130px;
}
.buttonlike.full {
	width: 100%;
}
.buttonlike.flex {
	width: auto;
	height: auto;
	margin: 2px 4px;
	padding: 5px 12px;
}
.buttonlike.flex.del {
	margin: 0px; 
	font-size: 120%
}
.buttonlike.grey {
/*	margin: 0px 10px;
	padding: 5px 5px; */
	background: lightgrey; none repeat scroll 0 0;
	box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}
.buttonlike.grey:hover {
	text-decoration: none;
	background-color: lightgrey;
	box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
	text-shadow: 2px 2px 7px #003300;
}

/*
.leftlink{
	border: 0 none !important;
   border-radius: 3px;
   font-size: 100%;
   height: 20px;
   margin: 10px 0px;
   padding: 10px 10px;
   width: 150px;
   display: block;
   background: #339900 none repeat scroll 0 0;
   box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
   color: #ffffff;
   text-shadow: 2px 2px 7px #003300;
}
.leftlink:link {
    text-decoration: none;
}
.leftlink:visited {
    text-decoration: none;    
}
.leftlink:hover {
    text-decoration: none;
    background-color: #006600;
    box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
    text-shadow: 2px 2px 7px #003300;
}
.leftlink.active {
    text-decoration: none;
    background-color: #ffbf00;    
} 

/*
.selectmenu.blue {
    background: #0053a1 none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 26, 77, 0.3) inset;
    color: #ffffff;
    text-shadow: 2px 2px 7px #002b53;
}
.selectmenu.pink {
    background: #a10053 none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(83, 0, 43, 0.3) inset;
    color: #ffffff;
    text-shadow: 2px 2px 7px #53002b;
}
.downloadbuttons.qaqc {
    background: #0053a1 none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 26, 77, 0.3) inset;
    text-shadow: 2px 2px 7px #002b53;
}
.downloadbuttons.log {
    background: #339900 none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
    text-shadow: 2px 2px 7px #003300;
}
*/



/* General Layout Classes ----------------- */

.border, .bbox, .gbox {
	border: 1px solid lightgrey;	
}
.clear {
	clear: both;    
}
.displayblock {
	display: block;
}
.noborder {
	border: medium none;
	border-collapse: collapse;
}
.normal, .bbox, .gbox, .nbox {
	font-size: 100%;
}
.smaller {
	font-size: 80%;
}
.white, .bbox, .nbox {
	background: white none repeat scroll 0 0;
}
.grey, .gbox {
	background: #ebebeb none repeat scroll 0 0;
}
.padd6x12 {
	padding: 6px 12px !important;
}
.topm6 {
	margin-top: 6px;
}
.topp6 {
	padding-top: 6px;
}
.height55{
	height: 55px !important;
}
.height70{
	height: 70px !important;
}
.heightAuto{
	height: auto !important;
}



/* Content Classes ------------------------ */

/*
* bbox = normal white border (box with border)
* gbox = normal grey border (box with border)
* nbox = normal white (box without border)
* whitediv => bbox simple
* tdiv     => bbox complex
* tablediv => full
* in1div   => bbox column wfull
* in2div   => bbox column whalf
* in3div   => bbox column wthird
* in4div   => bbox column wquarter
* in5div   => bbox column wfifth
* in6div   => bbox column wsixth
* sub1div  => bbox hfull
* sub2div  => bbox hhalf
* sub3div  => bbox hthird
* sub4div  => bbox hquarter
* sub5div  => bbox hfifth
* sub6div  => bbox hsixth
* sub8div  => bbox heighth
*/

div.simple {
	width: 1024px;
	margin: 10px auto;
	padding: 7px;
	overflow-x: auto;
}
div.simple.lastwhite {
	margin-bottom: 30px;
}
div.complex {
	width: 99%;
	height: 1500px;
	margin: 10px auto; 
	display: block;
}
div.full {
	height: auto;
	width: auto;
	margin: 10px;    
}
div.column {
	float: left;
	vertical-align: middle;
	text-align: center;
	display: block;
}
.wfull {
	width: calc(100% - 2px);
}
.whalf {
	width: calc(50% - 2px);
	height: calc(100% - 2px);
}
.wthird {
	width: calc(33.33% - 2px);
	height: calc(100% - 2px);
}
.wquarter {
	width: calc(25% - 2px);
	height: calc(100% - 2px);
}
.wfifth {
	width: calc(20% - 2px);
	height: calc(100% - 2px);
}
.wsixth {
	width: calc(16.66% - 2px);
	height: calc(100% - 2px);
}
.wtwothirds {
	width: calc(66.66% - 2px);
}
.hfull {
	height: calc(100% - 2px);
}
.hhalf {
	width: calc(100% - 2px);
	height: calc(50% - 2px);
}
.hthird {
	width: calc(100% - 2px);
	height: calc(33.33% - 2px);
}
.hquarter {
	width: calc(100% - 2px);
	height: calc(25% - 2px);
}
.hfifth {
	width: calc(100% - 2px);
	height: calc(20% - 2px);
}
.hsixth {
	width: calc(100% - 2px);
	height: calc(16.67% - 2px);
}
.heighth {
	width: calc(100% - 2px);
	height: calc(12.5% - 2px);
}



/* Tables --------------------------------- */

table.greytable {
	font-family: courier; 
	background-color: #f7f7f7;
	width: 100%;
}
table.greytable th {
	font-family: courier; 
	background-color: #cccccc;
}
table.greytable tr:nth-child(2n) {
	background-color: #ebebeb;
}
table.floatThead th {
    border: 1px solid lightgrey;
    border-collapse: collapse;
    font-size: 80%;
    color: #ffffff;
    margin: 10px;
    text-align: left;
}
table.tablesorter th {
    background-image: url("../img/bg3.gif");
    background-position: 50% 97%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding-bottom: 18px;
    text-shadow: 2px 2px 7px #002b53;
	cursor: pointer;
}
table.tablesorter th.tablesorterThAsc {
    background-image: url("../img/asc2.gif");
    color: #ffffff;
    text-shadow: 2px 2px 7px #53002b;
}
table.tablesorter th.tablesorterThDesc {
    background-image: url("../img/asc2.gif");
    color: #ffffff;
    text-shadow: 2px 2px 7px #53002b;
}
table#sortable td {
    font-size: 80%;
    font-family: courier;
}
table#sortable tr:nth-child(2n+1) {
    background-color: #fff;
}
table.invisiTable {
	/*display: none;*/
	margin-top: -50px;
}
table.invisiTable, .invisiTable th, .invisiTable tr {
	height: 0;
	text-indent: -99999px;
}



/* EQ Info Cells -------------------------- */

#eqinfoRow1Col1{
	width: calc(27% - 2px);
}
#eqinfoRow1Col2{
	width: calc(20% - 2px);
}
#eqinfoRow1Col3{
	width: calc(15% - 2px);
}
#eqinfoRow1Col4{
	width: calc(7% - 2px);
}
#eqinfoRow1Col5{
	width: calc(31% - 2px);
}
#eqinfoMtfId{
	font-size: 130%;
}



/* Help and Event Date Stuff -------------- */

.helpIcon {
	color:#fff;
	background-color:#feb22a;
	margin-left: 3px;
	width:16px;
	height:16px;
	display:inline-block;
	border-radius:100%;
	font-size:14px;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
	-webkit-box-shadow: inset -1px -1px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: inset -1px -1px 1px 1px rgba(0,0,0,0.25);
	box-shadow: inset -1px -1px 1px 1px rgba(0,0,0,0.25);
}
.helpEvDate.hidden, .legendEvDate {
	display: none;
}
.helpEvDate label {
	cursor: help;
}
.helpEvDate:hover .legendEvDate {
	width: 33%;
	margin-top: 4px;	
	margin-left: 6px;
	display: block;
	position: absolute;
	z-index: 1;
	border: 1px solid #333333;
	border-radius: 9px;
	color: #333;
	background-color: #ffe599;
	font-size: 80%;
	text-align: left;
}
.helpEvDate:hover .mr {
	right: 22.5%;
}
.helpEvDate:hover .mt {
	margin-top: -175px;
}
.helpEvDate:hover .par {
	margin-top: -127px;
}


/* Other Specific Elements ---------------- */

.mandatory {
	color: red !important;
}
#uplnewdoc{
	display: none;	
}
span.slash {
	width:4%;
	display:inline-block;
	text-align:center;   
}
div#locked {
	margin: 5px; 
	margin-top: -50px; 
	margin-left: -150px; 
	padding: 25px; 
	width:250px; 
	position: absolute; 
	height: 50px; 
	top: 50%; 
	left: 50%; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	color: #ffffff; 
	text-shadow: 2px 2px 7px #343434; 
	border-radius: 3px; 
	background-color: #909090; 
	-moz-box-shadow: inset 0 0 15px rgba(000,000,000, 0.15); 
	-webkit-box-shadow: inset 0 0 15px rgba(000,000,000, 0.15); 
	box-shadow: inset 0 0 15px rgba(000,000,000, 0.15);
	text-align: center;
}
