
/*
#navicontainer {
	margin: 0 auto;
}

#navi {
	margin: 0 auto;
    background-color: #339900;
	width: 100%;
    display: flex;
}

#naviLeft {
    background-color: #339900;
	float: left;
	text-align: left;
}

#naviRight {
    flex: 1;
    background-color: #339900;
	float: right;
	text-align: right;
}
*/

 
nav.headerNaviNav {
	margin: 0 0;
}
nav.headerNaviNav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}	
nav.headerNaviNav ul li {
	display: inline-block;
    border-right: 1px solid #003300;
}
nav.headerNaviNav ul li:first-child {
	border-left: 1px solid #003300;
}
nav.headerNaviNav a {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.15) inset;
	color: white;
	display: block;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	text-shadow: 2px 2px 7px #000;
}
nav.headerNaviNav ul ul {
	display: none;
	position: absolute; 
	top: 40px; 	
    z-index: 9999999;
}	
nav.headerNaviNav ul li:hover > ul {
	display:inherit;
}	
nav.headerNaviNav ul ul li {
	width:230px;
	float:none;
	display:list-item;
	position: relative;
}
nav.headerNaviNav ul ul ul li {
	position: relative;
	top:-60px; 
	left:230px;
}
nav.headerNaviNav ul ul li {
	border: 1px solid #003300;
	box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
}	
li > a:after { content:  ' ▼'; }
li > a:only-child:after { content: ''; }

