body.plotBody {
	color: #000;
	margin: 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}
.plotFrame {
	width: 720px;
	height: 400px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
}
.plotFrame2 {
	width: 720px;
	height: 540px;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
}
.plotFull {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -360px;      	
	margin-top: -200px;
}
.plotCanvas62x50 {
	width: 620px; 
	height: 500px;
}
.plotButtons {
	width: 100%;
	height: 30px;
	margin-top: 18px;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 90%;
}
.plotSep {
	margin-left: 4px;
	margin-right: 4px;
}
a.plotLink {
   border: none;
   cursor: pointer;
   color: #000;
   background-color: #f8f8f8;
}
a.plotLink:hover {
   color: #333;
   background-color: #f8f8f8;
}

