/*
div.batchesQuantRow {
	padding: 1% 2%;
}
*/
div.batchesQuantRow label, div.batchesQuantRow input {
	display: inline-block;
}
label.batchesQuantQuant {
	width:29.75%;
}
label.batchesQuantGood {
	width:28%;
}
label.batchesQuantUnit {
	width:6%;
	text-align:center;	
}
input.batchesQuantInput {
	width:7%;	
}
div#batchesQuantEnd {
	border:2px solid #FFFFFF;
	background-color:#DDDDDD;
	color:#800000; 
}
div#batchesQuantEnd span{
	width: 49.5%;
	display: inline-block;	
}
.batchesFullysplit {
	color: #348017;		
}
