div#groupsRow2Col1{
	width: calc(35% - 2px);
}
div#groupsRow2Col2{
	width: calc(15% - 2px);
}
div#groupsRow2Col3{
	width: calc(15% - 2px);
}
div#groupsRow2Col4{
	width: calc(17% - 2px);
}
div#groupsRow2Col5{
	width: calc(18% - 2px);
}
#groupsAliasHint {
	color: red;
	margin: 10px 0 10px 0;
	padding: 0;
}
