
#help_main {
	width: calc(100% - 2px);
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	/*height: 100%-2px;*/
	display: block;
}
#help_navleft {
	width: calc(20% - 2px);
	/*height: auto;*/
	height: 850px;
	margin-bottom: 10px;
	overflow-x: auto;
}
#help_mainright {
	width: calc(80% - 10px);
	/*height: auto;*/
	height: 850px;
	margin-bottom: 10px;
	padding-left: 6px;
	overflow-x: auto;
	text-align: left;
}
ul.help_navlist{
	padding: 0px;
}
ul.help_navlist li{
	list-style: none;
	cursor: pointer;
}
div.help_navlistitem{
	margin: 10px 0px 0px 20px;
	text-align: left;
}
div.help_navlistsubitem{
	margin: 5px 0px 0px 0px;
	text-align: left;
}
.help_heading {
	margin-left: 15px;
	margin-top: 50px;
	margin-bottom: 15px;
	color: black;
}
a.help_link {
	color: black;
	font-size: 100%;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.1);
	text-decoration: none;
}
a.help_link:link{
	color: #339900;
}
a.help_link:visited{
	color: #226600;
}
a.help_link:hover{
	color: #4de600;
}
a.help_link:active{
	color: #003300;
}
img.help_img{
	box-shadow: 5px 5px 10px rgba(0,0,0,0.2); /*0.2*/
	margin-top: 20px;
	margin-bottom: 20px;
	max-width:100%;
}
ul#help_list li {
	margin-left:10px;
	list-style:disc;    
}
