#newLOG {
   margin-top: 0.5%;
   margin-bottom: 0.5%;
   margin-left: 1%;
   padding-left: 8%;
   padding-right: 8.5%;	
   width: 81%;
   font-size: 100%;
   border: 1px solid #CCC;
   border-radius: 2px;
   background-color: azure;
}
button#newFeat {
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   border: none;
   font-family:Verdana, Arial, Helvetica, sans-serif;
   font-size: 100%;
   color: white;
   background-color: purple;   
}
#toggleNewFeat {
   padding-left: 2%;
   padding-right: 3%;
   padding-bottom: 1%;
   font-size: 90%;   
}
#toggleNewFeat p {
   text-align: justify;
}
#newsTmp {
   margin-top: 4%;
	padding-left: 8.5%;	
	width: 78%;
}
#newsTmpCERN {
   margin-top: 4%;
	padding-left: 8%;	
	width: 82.5%;
}
#newsElk {
   margin-top: 4%;
	padding-left: 8.5%;
	padding-bottom: 2%;	
	width: 78%
}
#newsElkTxt {
	width: 70%;
	height: auto;
	float: left;
	display: block;
	padding-left: 10%;
	font-size: 95%;
	color: red;
}
#newsElkImg {
	width: 10%;
	height: auto;
	float: right;
	display: block;
	margin-right: 10%;	
}
#newsElkImg img {
	width: 100%;
	height: auto;
}
#newsTmp p,
#newsTmpCERN p {
	padding: 2.5%;
	color: white;
	background-color: #ED1C24;
	font-weight: bold;
	text-align: center;
	line-height: 21px;
   border: 0 none !important;
   border-radius: 4px;
}
#newsImg {
	padding-top: 1%;
	text-align: center;
}
#newsImg img {
/*	display: block; */
	margin: 3%;	
	width: 40%;
	height: auto;
}
#newsTxt {
	padding-left: 8.5%;
	padding-bottom: 4%;	
	width: 80%;
}
#newsTxt p {
	text-align: left;	
}
#newsNoCERN {
	margin-left: 8.5%;
   margin-bottom: 4%;		
	width: 80%;
	border: 1px solid #CCC;
   border-radius: 8px;
   font-size: 90%;
   line-height: 1.1;	
}
#newsNoCERN .question {
	color: red;
	display: block;
	padding-bottom: 1%;
}
#newsNoCERN .answer {
	color: blue;
}
#pillory {	
	width: 80%;
	display: block;	
	margin-left: auto;
	margin-right: auto;
	padding-top: 21px;
	padding-bottom: 14px;			
}
#pillory table {
	margin-left: -1%;
}
