div#overviewLeft {
	width: calc(15% - 2px);
}
div#overviewRight {
	width: calc(85% - 2px);
}
.overviewLabel {
	padding-top:  4px;	
	padding-left: 4px;
	color: #666666;
	font-size: 90%;
}
div#overviewButton {
	width:  calc(100%-2px);
	height: calc(100%-2px);
	vertical-align: top;
	text-align: center;
}
ul#overviewButtons {
	margin: 20px -20px;
	list-style-type: none;
}
#overviewButtons li{
	margin: 10px 0px;
}
/*
#links{
	height: calc(80% - 2px);
}
*/
