div#prodTwoThirds {
	width: calc(66% - 2px) !important;
	text-align: center;
	padding-top: 6px;
	line-height: 1.6;
}
div#prodHintOuter {
	position: absolute;
	margin: 0;
	width: 40%;
	font-size: 90%;
	background-color: #EBEBEB;
	z-index: 2000;	
}
div#prodHintInner {
	margin: 0;
	padding: 0 14px 12px 12px;
	border: 1px solid #999999;
	display: none;
}
