select.sendequipSelect {
	-moz-appearance: none;
	width: 35%;	
}
input.sendequipInput {	
	margin-bottom: 0;	
	padding: 4px 12px;	
	box-shadow: 0 0 3px rgba(51, 153, 0, 0.3) inset;
  	text-shadow: 2px 2px 7px #cccccc;
	text-align: left;
	font-size: 90%;		
}
div.sendequipRow1, div.sendequipRow2, div.sendequipRow3 {
	/*margin-bottom: 3px;*/
	margin-bottom: 21px;
	text-align: center;
	display: block;
}
div.sendequipRow3 input {	
	width: 85%;
}
div.sendequipRow4 {
	width: calc(66% - 2px);
}
div.sendequipRow4 input {	
	width: 85%;
	margin-bottom: 21px;
}
