.shippingCol1 {
	width: 25%;
	display: block;
}
.shippingCol1 input {
	width: 85%;
	text-align: left;
}
.shippingCol2 {
	width: 25%;
	display: block;		
}
.shippingCol2 input {
	width: 85%;
	text-align: left;		
}
.shippingCol3 {
	width: 23%;
	display: block;	
}
.shippingCol3 input {
	width: 83%;
}
.shippingCol4 {
	width: 27%;
	display: block;	
}
.shippingCol4 input {
	width: 87%;
	text-align: left;	
}
.shippingRow2 {
	width: 100%;
	display: block;		
}
.shippingRow2 label {
	width: 37%;
	display: inline-block;	
}
.shippingRow2 input {
	width: 59%;
	display: inline-block;
	text-align: left;		
}
