<table class="greytable smaller">
	<thead>
		<tr>
			<th class="top"><b>EQ ID</b></th>
			<th class="top"><b>SUB BATCH ID</b></th>
			<th class="top"><b>QUANTITY IN SUB BATCH</b></th>
			<th class="top"><b>UNIT</b></th>
			<th class="top"><b>CURRENT LOCATION</b></th>
		</tr>
	</thead>
	<tbody>
		$rows
	</tbody>
</table>
