<script type="text/javascript" src="jsNew/all_explist.js"></script>
<script type="text/javascript" src="jsNew/log/displayequip.js"></script>
<link rel="stylesheet" href="stylesNew/all_explist.css">
<link rel="stylesheet" href="stylesNew/all/heritage.css">
<link rel="stylesheet" href="stylesNew/log/displayequip.css">
$header
$body
