<input type="hidden" name="submitted" value="none">
<div class="simple bbox">
	<div class="border padd6x12">
		<table class="noborder">
			<tr>
				<td><b>User Tables:</b></td>
				<td>$dropdown_user</td>
				<td><b>Admin Tables:</b></td>
				<td>$dropdown_admin</td>
			</tr>
			<tr>
				<td><b>General Views:</b></td>
				<td>$dropdown_gviews</td>
				<td><b>Personal Views:</b></td>
				<td>$dropdown_pviews</td>
			</tr>
			<tr>
				<td><b>Db Structure:</b></td>
				<td>$dropdown_structures</td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div> 
</div> 
