<div class='bbox simple'>
	<table class="greytable">
		<thead>
			<tr>
				<th>Equipment ID</th>
				<th>Equipment MTF ID</th>
				<th>Other ID (EQ ALIAS)</th>
			</tr>
		</thead>
		<tbody>
			$rows
		</tbody>
	</table>
</div>
