<tr>
	<td>$sort</td>
	<td class='lt'>$desc</td>
	<td class='$class'>$content</td>
	<td class='rt'>$count</td>
	<td><a href="#" onclick="submitItAs('showPlot', '$number')">plot</a></td>
	<td><a href="#" onclick="submitItAs('showList', '$number')">list</a></td>
</tr>
