<tr>
	<td><label>Quantity of Items in Group<span class='mandatory'>*</span>:</label></td>
	<td><input class="invisiblelike" name='quantity' type='number' min='2' max='9999' value='$quantity'></td>
</tr>
