<tr>
	<td class="$tdClass"><input class="subRanges" name="subRanges[]" type="checkbox" value="$subRangeId" $checked_subRanges></td>
	<td class="$tdClass">$startIds</td>
	<td class="$tdClass">$endIds</td>
	<td class="$tdClass rt" style="padding-right:1.5%;">$rangeLen $rangeSum</td>
	<td class="$tdClass center">$status</td>
	<td class="$tdClass center">$site</td>
</tr>
