<tr>
	<td class="$tdClass"><input class="subRanges" name="subRanges[]" type="checkbox" value="$subRangeId"></td>
	<td class="$tdClass shipIntId">$intId</td>
	<td class="$tdClass siteFrom">$siteFrom</td>
	<td class="$tdClass">$siteTo</td>
	<td class="$tdClass center" $lastItemId>$shipDate</td>
	<td class="$tdClass">
		<span class='colLabel'>EQ ID:</span> $eqId<br />
		<span class='colLabel'>MTFID:</span> $mtfId<br />
		<span class='colLabel'>ALIAS:</span> $otherId<br />
		<span class='colLabel'>TYPE :</span> $eqtypename
	</td>
</tr>
