#treecolft{
	width: calc(100%);
	text-align: left;
	overflow: auto;
}

/********************/
/* EXPANDABLE LIST  */
/********************/
#FLlistContainer{
  margin-top:15px;
  
  font-size: 75%;
}

#FLexpList ul, li {
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
}
#FLexpList p {
    margin:0;
    display:block;
}
#FLexpList p:hover {
    background-color:#121212;
}
#339900;
#FLexpList {
	padding-left:10px;
	clear: both;
}
#FLexpList li {
    line-height:140%;
    text-indent:0px;
    background-position: 1px 4px;
    padding-left: 17px;
    background-repeat: no-repeat;
}

/* Collapsed state for list element */
#FLexpList .collapsed {
    background-image: url("../img/collapsed.png");
}
/* Expanded state for list element
  NOTE: This class must be located UNDER the collapsed one */
#FLexpList .expanded {
    background-image: url("../img/expanded.png");
}

.FLlistControl{
  margin-bottom: 15px;
  margin-left: 10px;
}
.FLlistControl a {
	 border: 0 none !important;
    border-radius: 3px;
    font-size: 100%;
    /*height: 20px;*/
    margin: 0px 10px;
    padding: 5px 20px;
    width: 150px;
    background: #339900 none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(26, 77, 0, 0.3) inset;
    color: #ffffff;
    text-shadow: 2px 2px 7px #003300;
    line-height: 1.5em;
    height: 1.5em;
    cursor: pointer;
    /*border: 1px solid #555555;
    color: #555555;
    cursor: pointer;
    height: 1.5em;
    
    margin-right: 5px;
    padding: 4px 10px;*/
}
.FLlistControl a:hover {
    text-decoration: none;
    background-color: #006600;
    box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
    text-shadow: 2px 2px 7px #003300;
}
.FLsmalldiv {
	width: 300px;
}