:focus {
   outline: none;
}
::-moz-focus-inner {
   margin: 0;
   padding: 0;
   border: 0;
}
.clear {
   clear: both;
}
.invisiTable {
   visibility: hidden;
}
.dl {
   border:none;
   cursor: pointer;
   color:#000;
   background-color: #f8f8f8;
}
.dl:hover {
   color:#000;
   background-color: #f8f8f8;
}
body {
   color: #000;
   margin: 0;
   font-family:Verdana, Arial, Helvetica, sans-serif;
}
a {
   color: #000;
   font-weight: normal;
}
#buttons {
   width: 720px;
   margin-top: 18px;
   padding-left: 8px;
   padding-right: 8px;
   font-size: 90%;
}
#lab,
#csv,
#sep,
#exl {
   float: left;
}
#lab,
#csv,
#sep {
   padding-right: 4px;
}
#prt {
   float: right; margin-right: 18px;
}
#chartframe {
   border: 1px solid #ccc;
   width: 720px;
   height: 400px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-left: -360px;      	
   margin-top: -200px;
   background-color: #f8f8f8;
}