:focus {
    outline: none;
}
::-moz-focus-inner {
    margin: 0;
    padding: 0;
    border: 0;
}
html, body {
	margin: 0; padding: 0;
   font-family: Verdana, Arial, Helvetica, sans-serif;
}
form, div, p,
table, tr, td,
input, button {
   margin: 0;
   padding: 0;
} 
#login,
#success,
.success,
#fail,
#logout {
	display: block;
   position: absolute;
   top: 50%; left: 50%;	 
	background-color: #909090;
   color: #ffffff;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;      
   text-shadow: 2px 2px 7px #343434;
   -moz-box-shadow: inset 0 0 15px rgba(000,000,000, 0.15);
   -webkit-box-shadow: inset 0 0 15px rgba(000,000,000, 0.15);
   box-shadow: inset 0 0 15px rgba(000,000,000, 0.15);
}
div#login {
	/* width: auto; height: auto; */
   width: 510px;
   height: 204.333px;
	margin: -154px 0 0 -280px;
	padding: 25px 25px 25px 25px;
}
#login form {
	display: block;	
	margin: auto;
}
#login form p {
	text-align: left;
	font-weight: bold;
	text-shadow: 2px 2px 7px #343434;
}
table#inputFields,
table#submitButton {
   border-collapse: collapse;
   border-spacing: 0;
   width: 510px;
}
table#inputFields {
	margin-top: 20px;
}
table#inputFields td.label {
	width: 70px;
}
table#inputFields td.input {
	width: 300px;
}
table#inputFields input {
	width: 300px;
	margin-left: ;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 1px 5px 1px 5px; 
	border: 0;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;	
	border-radius: 3px;
	font-size: 90%;
	line-height: 1.4;
}
table#submitButton {
   margin-top: 21px;
}
table#submitButton td {
	width: 33.33%;	
}	
#submitButton button,
#submitButton button:active,
#submitButton button:focus,
#submitButton button:hover {
	display: table;	
	/* height: 65px; */
	padding-top: 7px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
   border: 0;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;   
   border-radius: 5px;
   color: #FFF;
   font-weight: bold;
   text-align: center;
   text-decoration: none;
   text-shadow: 2px 2px 7px #343434;
   font-size: 85%;
   cursor: pointer;
   -moz-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
   -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);
   box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.15);    
}
#submitButton button.logistics {
	 width: 100%;
    padding-top: 12px;
	 padding-bottom: 12px;	 
    margin: auto;
    background: #339900;
}
#submitButton button.logistics:hover {
    text-decoration: none;
    background-color: #006600;
    box-shadow: 0 0 15px rgba(51, 204, 0, 0.3) inset;
    text-shadow: 2px 2px 7px #003300;
}

button.goback {
	margin-top: 14px;
	width: 100%;
	font-size: 75%;
   margin-right: 14.5px;
    padding-top: 12px;
	 padding-bottom: 12px;	 
   background: #0053A1;
}
button.goback:hover {
    text-decoration: none;
    background-color: #003160;
    box-shadow: 0 0 15px rgba(0, 51, 204, 0.3) inset;
    text-shadow: 2px 2px 7px #000033;
}

#submitButton button.central,
#submitButton button.stgc,
#submitButton button.electronics {
	margin-top: 14px;
	width: 160px;
	font-size: 75%;
}

#submitButton button.central {
   margin-right: 14.5px;
   background: #0053A1;
}
#submitButton button.central:hover {
    text-decoration: none;
    background-color: #003160;
    box-shadow: 0 0 15px rgba(0, 51, 204, 0.3) inset;
    text-shadow: 2px 2px 7px #000033;
}

#submitButton button.stgc {
    margin-right: 14.5px;
    background: #e0dbc5;
    color: black;
    text-shadow: 2px 2px 7px white;
}
#submitButton button.stgc:hover {
    text-decoration: none;
    color: white;
    background-color: #4d2800;
    box-shadow: 0 0 15px rgba(0, 51, 204, 0.3) inset;
    text-shadow: 2px 2px 7px #000033;
}

#submitButton button.electronics {
    background: #993333;
    color: white;
    text-shadow: 2px 2px 7px black;
}
#submitButton button.electronics:hover {
    text-decoration: none;
    color: white;
    background-color: #732626;
    text-shadow: 2px 2px 7px black;
}

#success,
.success {
	width: auto; height: auto;
	margin: -40px 0 0 -336px;
	padding: 30px 40px 30px 40px;
	font-weight: bold;
}
#fail {
   width: auto; height: auto;
	margin: -69px 0 0 -164px;
	padding: 40px 60px 40px 60px;	
   font-weight: bold;
}
#logout {
   width: auto; height: auto;
	margin: -68px 0 0 -152px;
	padding: 40px 60px 40px 60px;
	font-weight: bold;
}
#use_firefox {
	display: block;
   position: absolute;
   top: 50%; left: 50%;
   margin-top: 104px;
   margin-left: -195.5px;
   color: #444444;
   font-size: 90%;
   font-weight: bold;
}
